listenPort: 5000
listenSsl: true

# SSL cert bundled with the gateway download — don't change these
sslCert: "root/conf/cacert.jks"
sslPwd: "test"

appVersion: "1.0"
authVersion: "0.0.1"
baseUrl: "api.ibkr.com"
